nav{
    display: flex;
}
.board {
  display: flex;
flex-direction: column;
}

.board > div {
  display: flex;      
    
}
.sqr {
    width:1.6cm;
  aspect-ratio: 1/1;
  border: 3px solid black;
  font-size: 64px;
  text-align: center;
  margin: 5px 2px;
}

.sqr.green {
  background-color: green;
  color: white;
}

.sqr.yellow {
  background-color: yellow;
  color: white;
}

.sqr.grey {
  background-color: grey;
  color: white;
}